.map {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.cmvLoading {
  position: absolute;
  top: 0;
  right:0;
  bottom: 0;
  left:0;
  background-color: #FAFAFA;
  z-index: 999;
}

.cmvLoading .cmvLoadingContent {
  background: transparent;
  bottom: 0;
  height: 40px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  font-size: 40px;
  color: #333;
  text-align: center;
}